.container{
    width: 1000px;
    height: fit-content;
}


.header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 background-color: #303030;   
 padding: 5px 20px;
 margin: 10px 10px 80px;
 border-radius: 10px;
 color: #fff;
}

.footer{
    text-align: center;
    background-color: #303030;
    padding: 5px 20px;
    margin-top: 80px;
    border-radius: 10px;
    color: #fff;
}

